// -- COLORS -------------------------------------------------------------------
COLOR              = #878cb0
BACKGROUND         = #3f435f
BUTTON             = lighten(BACKGROUND, 10%)
// -- FONT ---------------------------------------------------------------------
FONT_FAMILY        = "Roboto", sans-serif
FONT_SIZE          = 100%
// -- ANIMATION ----------------------------------------------------------------
ANIMATION_DURATION = 500ms
