// -- COLORS -------------------------------------------------------------------
BACKGROUND         = #3f435f
BACKGROUND          = lighten(#2f3148, 5%)
COLOR              = lighten(BACKGROUND, 50%)
BUTTON             = lighten(BACKGROUND, 10%)
// -- FONT ---------------------------------------------------------------------
FONT_FAMILY        = "Roboto", sans-serif
FONT_SIZE          = 100%
FONT_SIZE_TINY     = 0.75rem
FONT_WEIGHT_BOLD   = bold
// -- ANIMATION ----------------------------------------------------------------
ANIMATION_DURATION = 500ms
