// -- COLORS -------------------------------------------------------------------
BACKGROUND         = #3f435f
THEME              = #ffcc33
BACKGROUND = darken(THEME, 10%)
COLOR              = lighten(BACKGROUND, 85%)
// -- FONT ---------------------------------------------------------------------
FONT_FAMILY        = "Raleway", "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE          = 100%
FONT_SIZE_TINY     = 0.75rem
FONT_WEIGHT_NORMAL = 400
FONT_WEIGHT_BOLD   = 800
// -- ANIMATION ----------------------------------------------------------------
ANIMATION_DURATION = 500ms
