// -- COLORS -------------------------------------------------------------------
BACKGROUND         = #3f435f
BACKGROUND         = #ffcc33
COLOR              = lighten(BACKGROUND, 85%)
BUTTON             = darken(BACKGROUND, 25%)
// -- FONT ---------------------------------------------------------------------
FONT_FAMILY        = "Roboto", sans-serif
FONT_SIZE          = 100%
FONT_SIZE_TINY     = 0.75rem
FONT_WEIGHT_BOLD   = bold
// -- ANIMATION ----------------------------------------------------------------
ANIMATION_DURATION = 500ms
