html, body
  height: 100%

header
  position: fixed
  top: 0
  left: 0
  z-index: 3
  width: 100%
  height: 50px
  background-color: darken(BACKGROUND, 10%)
  overflow: hidden
  backface-visibility hidden
  transform translateY(-100%)
  transition transform ANIMATION_DURATION
  &:after
    content: ""
    display: table
    clear: both
  &.slide-down
    transform translateY(0)
  > .logo
    float: left
    margin: 18px 0 0 5%
    color: WHITE
    font-weight: FONT_WEIGHT_BOLD

  > nav
    display: inline-block
    float: right
    margin: 10px 5% 0 0
    > .btn
      height: 30px
      line-height: 30px
      padding: 0 2em

footer
  position: fixed
  z-index: 1980
  bottom: 1rem
  left: 0
  width: 100%
  text-align: center
  font-size: FONT_SIZE_TINY
  opacity: 0.75
  transition opacity ANIMATION_DURATION
  > a
    font-weight: FONT_WEIGHT_BOLD

article
  overflow: hidden
  max-width: 1440px
  margin: 0 auto
  .intro
    padding: 50px 5%
    text-align: center
    h1
      margin-bottom: 10px
      font-weight: 100
      font-size: 3rem
      font-weight: 700
      line-height: 1.2
    p
      padding: 0 0 20px
      font-size: 14px
      font-size: 0.875rem
      line-height: 1.8
      max-width: 560px
      margin: 0 auto
    nav:after
      content: ""
      display: table
      clear: both
    .btn
      width: 120px
      height: 40px
      line-height: 40px
      margin-right: 8px

  #tour
    position: relative

.step
  padding: 50px 5% 120px
  width: 100%
  text-align: center
  border-top: 1px solid darken(BACKGROUND, 10%)
  h2
    margin-bottom: 15px
    font-size: 22px
    font-size: 1.375rem
  p
    padding: 10px 0 50px
    font-size: 14px
    font-size: 0.875rem
    line-height: 1.6

.iphone
  max-width: 226px
  margin: 0 auto
  padding-top: 50px
  > div
    position: relative

  .frame
    box-sizing content-box
    position: absolute
    top: -45px
    left: -10px
    width: 100%
    height: 100%
    border-color: #2f3246
    border-style: solid
    border-width: 45px 10px
    border-radius: 2.5em
    backface-visibility hidden
    &::after, &::before
      position: absolute
      left: 50%
      right: auto
      transform translateX(-50%)
      backface-visibility hidden
      background-color: #202331
      border-radius: 50%
    &::before
      height: 11px
      width: 11px
      top: -28px
    &::after
      height: 31px
      width: 31px
      bottom: -38px
  .wrapper
    position: relative
    overflow: hidden
    z-index: 2
    img
      display: block

nav.slider
  display: none
  position: fixed
  bottom: 0
  left: 0
  z-index: 1
  width: 100%
  height: 80px
  &:after
    content: ""
    display: table
    clear: both
  a
    position: relative
    display: block
    height: 100%
    width: 50%
    float: left
    overflow: hidden
    text-indent: 100%
    white-space: nowrap
    color: transparent
    background-color: darken(BACKGROUND, 15%)
    &::before
      /*this is the bacgrounf arrow - we have been used a before element to change the opacity on hover*/
      position: absolute
      left: 50%
      top: 50%
      bottom: auto
      right: auto
      transform translateX(-50%) translateY(-50%)
      width: 24px
      height: 16px
      opacity: .2
      background: url(../img/arrow.svg) no-repeat center center
      backface-visibility hidden
      transition opacity (ANIMATION_DURATION / 2)
  .next
    border-left: 1px solid BACKGROUND
  .next::before
    transform translateX(-50%) translateY(-50%) rotate(180deg)

// -- MEDIA QUERIES ------------------------------------------------------------
@media only screen and (min-width: 480px)
  .intro
    padding: 50px 10%
  .step
    padding: 50px 10% 120px

@media only screen and (min-width: 850px)
  .intro
    padding: 50px 15%
  .step
    padding: 50px 15% 120px
    &:after
      content: ""
      display: table
      clear: both
    .caption
      width: 50%
      float: left
      margin-top: 180px
    &:nth-child(2n) .caption
      float: right
  .iphone
    float: right
  .step:nth-child(2n) .iphone
    float: left

@media only screen and (min-width: 1070px)
  body
    background: linear-gradient(darken(BACKGROUND, 25%), BACKGROUND), BACKGROUND
  header
    height: 90px
    background-color: transparent
    > .logo
      margin-top: 32px
      font-size: 28px
      font-size: 1.75rem
      > img
        width: 80px
        height: 25px
    > nav
      margin: 20px 5% 0 0
      > .btn
        height: 50px
        line-height: 50px

  .btn
    font-size: 14px
    font-size: 0.875rem
    letter-spacing: .04rem

  article
    position: relative
    height: 100%
    min-height: 500px
    padding: 0 10%
    .intro
      backface-visibility hidden
      position: absolute
      top: 50%
      transform  translateY(-50%)
      left: 10%
      width: 50%
      padding: 0
      text-align: left
      transition-property transform, opacity
      transition-duration ANIMATION_DURATION
      transition: transform 0.3s, opacity 0.3s
      h1
        font-size: 4rem
      p
        font-size: 1.2rem
        padding: 10px 0 44px
        margin: 0
      .btn
        margin-right: 15px
        height: 60px
        line-height: 60px
        &:not(.small)
          width: 190px
        &.small
          width: auto
          padding-right: 48px
          padding-left: 48px

    &.in-tour
      .intro
        opacity: 0
        transform translateY(-50%) translateX(-50%)
      footer
        opacity: 0

  #tour
    width: 100%
    max-width: 850px
    margin: 0 auto
    height: 500px
    top: 50%
    left: 0
    transform translateY(-50%) translateX(75%)
    transition-property transform
    transition-duration ANIMATION_DURATION
    > ul
      height: 100%
      width: 100%

  .in-tour #tour
    transform translateY(-50%) translateX(0)

  .step
    position: absolute
    top: 50%
    transform translateY(-50%)
    left: 0
    text-align: left
    border-top: none
    padding: 0
    visibility: visible
    h2
      font-size: 48px
      font-size: 3rem
      font-weight: 300
    p
      font-size: 16px
      font-size: 1rem
      line-height: 1.5
      max-width: 600px
    .caption
      width: 60%
      float: right
      margin: 80px 0 0 5%
      opacity: 0
      transform translateZ(0)
      transition-property transform, opacity
      transition-duration ANIMATION_DURATION
    &.not-visible
      visibility: hidden
    &.move-right .caption
      transform translateX(100px)

  .in-tour .step.active .caption
    opacity: 1

  .iphone
    height: 402px
    width: 35%
    float: left
    max-width: none
    padding-top: 0
    > div
      display: inline-block
      max-width: 100%
      max-height: 100%
    img
      height: 402px
      transition-duration ANIMATION_DURATION
      transform translateZ(0)

  .move-right .iphone img
    transform translateX(100%)

  nav.slider
    display: block
    a
      visibility: hidden
      opacity: 0
      transition-property opacity, visibility, background
      transition-duration ANIMATION_DURATION
  .in-tour nav.slider a
    visibility: visible
    opacity: 1
    transition-property opacity, visibility, background
    transition-duration ANIMATION_DURATION
    &.inactive
      visibility: hidden
      opacity: 0
