@import "__vendor.styl"

@font-face
  font-family: 'Raleway'
  src: url("fonts/Raleway-Regular.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Raleway'
  src: url("fonts/Raleway-ExtraBold.ttf") format("truetype")
  font-weight: bold
  font-style: bold

/* ------------------------- COLORS ------------------------- */
THEME                   = #ffcc33
BACKGROUND              = #eee
DARK                    = #333
WHITE                   = #fff
BUTTON                  = darken(BACKGROUND, 25%)
CANCEL                  = #e74c3c
ACCEPT                  = #2ecc71
WARNING                 = #edba22

/* ----------------------- DIMENSIONS ----------------------- */
ASIDE_WIDTH             = 16rem
FORM_SIZE               = 1rem
MOBILE                  = 480px
U                       = 1rem

/* -------------------------- FORM -------------------------- */
FORM_COLOR              = darken(BACKGROUND, 15%)
BORDER_RADIUS           = .15rem

/* ------------------------ ANIMATION ----------------------- */
ANIMATION_DURATION      = 450ms
ANIMATION_STEPS         = 15
ANIMATION_EASE          = cubic-bezier(0.645, 0.045, 0.355, 1.000)

/* -------------------------- FONT -------------------------- */
FONT_FAMILY             = "Raleway", "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE_TINY          = 0.8rem
FONT_SIZE_SMALL         = 0.9rem
FONT_SIZE_NORMAL        = 1.0rem
FONT_SIZE_BIG           = 1.25rem
FONT_WEIGHT_THIN        = 300
FONT_WEIGHT_NORMAL      = 400
FONT_WEIGHT_BOLD        = 700

/* -------------------------- STYLES -------------------------- */
DIVIDER                 = solid 1px darken(BACKGROUND, 2.5%)
SHADOW_HEIGHT           = .075rem
SHADOW_OPACITY          = rgba(0,0,0,0.35)
