[data-atoms=app]
  font-family: FONT_FAMILY
  font-weight: FONT_WEIGHT_THIN
  font-size: 100%
  background: darken(DARK, 100%)

  [data-tooltip]:after
    font-size: FONT_SIZE_TINY
    font-weight: FONT_WEIGHT_LIGHT
    background-color: rgba(0,0,0,.75)
    color: WHITE
    border-radius: BORDER_RADIUS

@media screen and (min-resolution: 3dppx)
  [data-atoms=app], html
    font-size: 110%
