<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#FFC414">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/img/icon-192.png" sizes="192x192" type="image/png">
  <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <title>filmit</title>
</head>
<body>
  <header>
    <div class="logo">filmit</div>
    <nav><a href="https://play.google.com/store/apps/details?id=com.cataflu.filmit" class="btn">Install in your android</a></nav>
  </header>

  <article>
    <div class="intro">
      <h1>filmit</h1>
      <p>Filmit lets you manage & remember your movies anywhere. At home. At school. At work. Online. Offline.</p>
      <nav>
        <a href="https://play.google.com/store/apps/details?id=com.cataflu.filmit" class="btn small">for android</a>
        {{! <a href="" class="btn">ios</a> }}
        <a href="#tour" class="btn highlight" data-type="tour">Start</a>
      </nav>
    </div>

    <div id="tour">
      <ul>
        <li class="step active">
          <div class="caption">
            <h2>Info of your favorite movies & series</h2>
            <p>You will not ever forget that movie or serie that you liked so much. At a glance you will have all the information and you can share it with anyone – colleagues, family, friends.</p>
          </div>
          <div class="iphone">
            <div>
              <div class="frame"></div>
              <div class="wrapper">
                <img src="/assets/img/screen-1.png" alt="Screen Preview 1">
              </div>
            </div>
          </div>
        </li>
        <li class="step not-visible move-right">
          <div class="caption">
            <h2>Find any movie or serie</h2>
            <p>You can search in the largest database of movies in the world, IMDB. You will be able to know all the information - director, actors, year, duration - and even reviews of other movie fans like you.</p>
          </div>
          <div class="iphone">
            <div>
              <div class="frame"></div>
              <div class="wrapper">
                <img src="/assets/img/screen-2.png" alt="Screen Preview 2">
              </div>
            </div>
          </div>
        </li>
        <li class="step not-visible move-right">
          <div class="caption">
            <h2>You never forget a movie</h2>
            <p>With filmit will not forget those movies that someone recommended you. Simply you need add them into your "Pending" list and enjoy. Also find the latest movies you've seen to recommend to someone.
            </p>
          </div>
          <div class="iphone">
            <div>
              <div class="frame"></div>
              <div class="wrapper">
                <img src="/assets/img/screen-3.png" alt="Screen Preview 3">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <nav class="slider">
      <a class="prev" href="#0">Previous</a>
      <a class="next" href="#0">Next</a>
    </nav>

    <footer>Made with passion fruit & thai tea by <a href="https://twitter.com/cataflu">@cataflu</a> & <a href="http://soyjavi.com">@soyjavi</a></footer>
  </article>


  <script src="/assets/js/film-it.thirds.js"></script>
  <script src="/assets/js/film-it.js"></script>
  </body>
</html>
