<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Film-it</title>
</head>
<body>

  <div style="display: block;">
    <b>¿Tienes una cuenta? Inicia sesión</b>
    <br>
    <form action="/login" method="post">
      <input type="mail" name="mail" placeholder="E-mail..." required>
      <input type="password" name="password" placeholder="Password..." required>
      <button style="float: right;">Acceder</button>
    </form>
  </div>

  <br>

  <div style="display: block;">
    <b>¿Eres nuevo en Film-it? Regístrate</b>
    <br>
    <form action="/signup" method="post">
        <input type="mail" name="mail" placeholder="E-mail" required>
        <input type="password" name="password" placeholder="Password" required>
        <button style="float: right;">Registrar</button>
    </form>

  </div>

    <style type="text/css">
     div {
        margin-left: auto;
        margin-right: auto;
        width: 21em
     }
    </style>

</body>
</html>


